body {
    background-color: lightblue;
}
h1 {
	text-align: center;
}
h4 {
	text-align: center;
}
.cbody {
	margin-top: 15%;
	margin-left: 25%;
	border-radius: 25%;
	background-color: white;
	text-align: center;
	width: 50%;
}

#amount{
	color: blue;

}